<!--
##############################################################
# Desenvolvido por: Lucas Perdigão de Oliveira
# Data: 29-10-2025
#
# Descrição:
# Wiki para criação e gerenciamento de documentações, com suporte à:
#  - Adição e gerenciamento de usuários e suas hierarquias
#  - Criação e organização de hierarquias de documentações
#  - Adição, edição e exclusão de documentações
#  - Retenção automática de documentações excluídas por até 7 dias
#
##############################################################
-->

{% extends "base.html" %}
{% block content %}
<div class="container py-5">
  <div class="card p-4 mx-auto" style="max-width: 400px;">
    <h3 class="mb-4 text-center">Entrar</h3>
    <form method="post">
      <div class="mb-3">
        <label>Usuário</label>
        <input name="username" class="form-control" required>
      </div>
      <div class="mb-3">
        <label>Senha</label>
        <input name="password" type="password" class="form-control" required>
      </div>
      <button class="btn btn-primary w-100">Entrar</button>
    </form>
  </div>
</div>
{% endblock %}
